.image-editable-container {
    width: 80px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
}

.image-editable-container__header {
    height: 15px;
    border-bottom: 1px solid #000;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    & span {
        line-height: 16px;
        margin-right: 10px;
        &:hover {
            color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
}

.image-editable-container__content {
  
}

.image-editable-container__button {
    background-color: #fff;
    font-size: 10px;
    border: none;
    &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.5);
    }
}

.image {
    width: 200px;
}